* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: clip;
}


:root {
    --main-color: #a395e9;
    --container1-color: #fafafa;
    --container2-color: #fff;
    --boxes-color: #e9e9e9;
    --dark-color: #0b111e;
    --text-color: #525761;
}

:root:has(#dark-mode-toggle:checked) {
    --container1-color: #0b111e;
    --container2-color: #0b111e;
    --dark-color: #fff;
    --text-color: #babec5;

    body {
        background-color: #0b111e;
        color: #fff;
    }

    #header-bg {
        display: none;
    }

    .skills-container,
    .education-container,
    .project,
    .talk-div,
    input,
    textarea {
        background-color: #151b28
    }

    button {
        background-color: var(--main-color);
    }

    .home-container i {
        background-color: var(--main-color);
    }

    #cv-btn,
    #cv-btn i {
        background-color: transparent;
    }

    #cv-btn:hover {
        background-color: var(--main-color);
    }

    .slide img {
        color: var(--container2-color);
    }

    .nav-container {
        background-color: #1c2536cc;

        a {
            color: #fff;
        }
    }

    .top-nav {
        background-color: #151b28
    }

    .box,
    .content .tools li,
    .progress {
        background-color: #18223B;
        color: #d6d9e0;
    }

    .light {
        display: none;
    }

    .dark {
        display: block;
    }

    .top-nav .container .darkmode label {
        .fa-sun {
            display: inline-block;
            color: white;
            font-size: 25px;
        }

        .fa-moon {
            display: none;
        }
    }
}

::-webkit-scrollbar {
    border-radius: 8px;
    width: 8px;
    background-color: #c7cbd1;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 8px;
}

.heading {
    text-align: center;
    margin: 20px 0;
    color: var(--dark-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: auto;
}

.heading::before {
    content: "";
    background-color: var(--main-color);
    height: 2px;
    width: 40px;
    position: absolute;
    left: 0px;
}

.heading::after {
    content: "";
    background-color: var(--main-color);
    height: 2px;
    width: 40px;
    position: absolute;
    right: 0px;
}

h2 {
    color: #8775dd;
    text-align: center;
    font-size: 24px;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--container1-color);
    margin-bottom: 40px;

    .container {
        width: 58%;
        margin: auto;
        padding: 22px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: var(--main-color);
            font-size: 16px;
        }

        .darkmode {
            input {
                display: none;
            }

            label {
                cursor: pointer;
                font-size: 25px;
                color: var(--dark-color);
            }

            .fa-moon {
                display: inline-block;
            }

            .fa-sun {
                display: none;
            }
        }

        .dropdown {
            display: none;
        }
    }
}

ul {
    list-style: none;
}

.nav-container {
    background-color: #dde3eecc;
    width: 20%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #cccccc7c;
    border-radius: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    ul {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: var(--text-color);
        }

        a:hover {
            color: var(--dark-color);
        }

        i {
            margin-left: 5px;
        }
    }

    button {
        border-radius: 500px;
        background-color: var(--main-color);
        padding: 10px 20px;
        border: 2px solid var(--main-color);
        box-shadow: inset 0 1px 1px #ffffff7a;
        transition: box-shadow 0.8s;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    button:hover {
        box-shadow: inset -2px -1px 1px #ffffff7a;
    }

    button a {
        text-decoration: none;
        color: var(--container2-color);
    }
}

header {
    position: relative;
}

#header-bg {
    opacity: 0.15;
    background-image: linear-gradient(#e9e9ec 2.6px, transparent 2.6px), linear-gradient(to right, #e9e9ec 2.6px, #eff5fe 2.6px);
    background-size: 52px 52px;
    background-color: var(--container1-color);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dropdown-list {
    display: none;
}

.home-container {
    height: 100vh;
    width: 58%;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 2;

    h1 {
        padding: 10px 0;
        font-size: 48px;
        color: transparent;
        background-image: linear-gradient(90deg, var(--main-color) 33%, var(--dark-color) 100%);
        background-clip: text;
    }

    button {
        padding: 12px 16px;
        background-color: var(--container2-color);
        border: solid 1px var(--main-color);
        border-radius: 8px;
        margin-top: 40px;
        text-decoration: none;
        color: var(--dark-color);
        font-weight: 500;
        cursor: pointer;
        margin-right: 5px;
        font-size: 15px;
        transition: background-color .3s;
    }

    button:hover {
        background-color: var(--main-color);
    }

    #cv-btn {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    }

    #about-btn {
        background-color: var(--main-color);
    }

    .dark {
        display: none;
        width: 25%;
        margin-top: 60px;
    }

    .light {
        width: 50%;
        margin-top: 60px;
    }

    .accounts {
        position: absolute;
        left: 0;
        top: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        i {
            background-color: var(--boxes-color);
            padding: 8px;
            font-size: 20px;
            color: var(--dark-color);
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
            transition: all 0.4s;
            margin: 5px 0;
        }

        i:hover {
            background-color: var(--main-color);
            color: var(--container2-color);
        }
    }

    .accounts::after {
        content: "";
        background-color: var(--main-color);
        height: 30px;
        width: 1px;
        position: relative;
    }

    .slide {
        position: absolute;
        right: 0;
        top: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        a {
            text-decoration: none;
            color: var(--dark-color);
        }

        p {
            transform: rotate(270deg);
            margin-top: 30px;
            font-size: 14px;
        }
    }
}

.about {
    background-color: var(--container1-color);
    padding: 40px 0;

    .heading {
        width: 13%;
    }
}

.about-container {
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image {
        border: 4px solid rgba(184, 184, 184, 0.481);
        width: 40%;
        text-align: center;
        border-radius: 10px;

        img {
            width: 100%;
            position: relative;
            top: 20px;
            left: 20px;
            border-radius: 10px;
        }
    }

    .content {
        width: 50%;
        color: var(--text-color);

        p {
            margin-bottom: 35px;
            line-height: 25px;
        }

        i {
            margin-right: 5px;
        }

        span {
            font-size: 12px;
            margin-right: 20px;
        }

        .box {
            background-color: var(--boxes-color);
            color: var(--dark-color);
            font-size: 12px;
            margin-right: 5px;
            border-radius: 5px;
            padding: 6px;
        }

        .badges {
            margin-top: 20px;
        }
    }
}

.skills {
    padding: 40px 0;
    margin: 30px auto;
    background-color: var(--container2-color);

    .heading {
        width: 11%;
    }

    .container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 80%;
        margin: 30px auto;

        h3 {
            font-weight: 500;
            padding: 20px 0;
        }

        .skills-container {
            position: relative;
            border: 1px solid #cccccc7c;
            padding: 30px;
            border-radius: 10px;
            background-color: var(--container1-color);
            width: 49%;

            .skill {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;
                font-size: 16px;

                i {
                    width: 25px;
                    font-size: 18px;
                    color: #9584e6;
                }
            }

            .progress {
                position: relative;
                height: 4px;
                border-radius: 4px;
                width: 100%;
                margin: auto;
                background-color: #c6c6c6;
                margin-bottom: 23.5px;
            }

            #python-progress-bar,
            #html-progress-bar,
            #css-progress-bar,
            #js-progress-bar,
            #react-progress-bar,
            #next-progress-bar {
                background-color: var(--dark-color);
                position: absolute;
                height: 4px;
                width: 0%;
                margin: auto;
                border-radius: 4px;
                transition: all 1.5s;
            }
        }

        .education-container {
            background-color: var(--container1-color);
            width: 49%;
            padding: 30px;
            display: flex;
            align-items: start;
            flex-direction: column;
            border: 1px solid #cccccc7c;
            border-radius: 10px;

            i {
                margin-right: 6px;
            }

            .education {
                padding: 10px 0 16px 15px;
                border-left: 1px solid #9584e6;
                position: relative;
                margin-top: 30px;

                .circle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-50%);
                    color: #9584e6;
                }

                h4 {
                    font-size: 17px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    color: var(--text-color);
                }

                h5 {
                    font-weight: 500;
                }
            }
        }
    }
}

#projects {
    background-color: var(--container1-color);
    padding: 40px 0;

    .heading {
        width: 11%;
    }
}

.projects-container {
    width: 79%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .project {
        width: 49%;
        background-color: var(--container2-color);
        border-radius: 14px;
        border: 1px solid #888b9134;
        padding: 15px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0,.1);
        cursor: pointer;

        .content {
            padding: 10px;
        }

        .project-title {
            color: var(--dark-color);
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0;
        }

        img {
            width: 100%;
            border-radius: 14px;
            height: 55%;
            padding: 0;
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-top: 1px solid rgba(128, 128, 128, 0.408);
            padding-top: 10px;
            margin-top: 10px;
        }

        li {
            background-color: var(--boxes-color);
            color: var(--dark-color);
            font-size: 12px;
            margin-right: 5px;
            border-radius: 5px;
            padding: 6px;
            margin-bottom: 8px;
        }

        p {
            color: var(--text-color);
            font-size: 15px;
            padding: 10px 0;
        }

        .links {
            width: 100%;
            text-align: center;
            color: var(--dark-color);

            a {
                text-decoration: none;
                color: var(--dark-color);
            }

            button {
                padding: 8px;
                border: solid 1px var(--main-color);
                border-radius: 16px;
                font-weight: 500;
                cursor: pointer;
                margin-top: 20px;
                margin-right: 8px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
                transition: transform 0.3s;
            }

            button:hover {
                background-color: var(--main-color);
                transform: scale(1.09);
            }
        }
    }
}

#contact {
    background-color: var(--container2-color);
    padding: 40px 0;

    .heading {
        width: 11%;
    }
}

.contact-container {
    width: 60%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 60px;

    h1 {
        color: var(--dark-color);
        text-align: center;
        padding: 10px 0 30px 0;
    }

    .talk-to-me {
        width: 50%;
    }

    .talk-div {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--boxes-color);
        margin-bottom: 20px;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0px 2px 16px rgba(11, 17, 30, 0.102);

        a {
            color: var(--dark-color);
        }

        i {
            font-size: 32px;
            margin-bottom: 4px;
        }

        h3 {
            color: var(--dark-color);
            font-size: 14px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 12px;
        }

        .write {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--main-color);

            i {
                font-size: 16px;
                margin-bottom: 0;
                margin-left: 4px;
                transition: transform 0.3s;
            }
        }

        .write:hover i {
            transform: translateX(6px);
        }
    }

    .contact-form {
        width: 50%;
        color: var(--text-color);
        
        input {
            padding: 24px;
            border: 1.3px solid #888b91;
            border-radius: 12px;
            width: 100%;
        }

        textarea {
            width: 100%;
            height: 280px;
            padding: 24px;
            border: 1.3px solid #888b91;
            border-radius: 12px;
        }

        label {
            background-color: var(--container2-color);
            position: absolute;
            top: -11px;
            left: 20px;
            padding: 0 4px;
        }

        .contact-form-div {
            position: relative;
            margin-bottom: 2rem;
            height: 4rem;
        }

        button {
            background-color: var(--main-color);
            color: var(--dark-color);
            color: var(--container2-color);
            padding: 15px 20px;
            margin-top: 200px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            transition: transform 0.3s;
        }

        button:hover {
            transform: scale(1.1);
        }
    }
}

footer {
    padding: 25px 50px;
    border-top: 1.3px solid #888b91;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    color: var(--dark-color);

    a {
        font-size: 18px;
        margin: 0 4px;
        color: var(--dark-color);
    }

    p {
        font-size: 14px;
    }

}